{% extends "base.html" %}
{% block content %}
    <h2>Second factor authentication</h2>
    <div class="row">
        <div class="col-lg-9">
            <p>
                Your account is configured to use two-factor authentication.
            </p>
            <div id="error-box" class="alert alert-danger" role="alert" style="display: none">
                Authentication did not succeed.
                This may be because you cancelled authentication, used an unknown key,
                or entered an incorrect token.
            </div>
            {% if has_webauthn %}
                <h3>Security token</h3>
                <button id="webauthn-authenticate" class="mb-3 btn btn-primary btn-block">
                    Authenticate with a security token
                </button>
            {% endif %}
            {% if has_totp and has_webauthn %}
                <hr/>{% endif %}
            {% if has_totp %}
                {{ totp_form_html }}
            {% endif %}
        </div>
        <div class="col-lg-3 alert alert-primary">
            TODO
        </div>
    </div>
    {% if has_webauthn %}
        <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.es5.umd.min.js"></script>
        <script>
            document.getElementById('webauthn-authenticate').addEventListener('click', async () => {
                document.getElementById('error-box').style.display = "none";
                const {startAuthentication} = SimpleWebAuthnBrowser;

                const opts = {{ webauthn_options_json|safe }};
                const next = "{{ next|safe }}";
                let asseResp;
                try {
                    asseResp = await startAuthentication(opts);
                } catch (error) {
                    document.getElementById('error-box').style.display = "block";
                    return;
                }
                const verificationResp = await fetch(
                    "{{ url_for('ui:auth:webauthn_verify_authentication_response') }}",
                    {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify(asseResp),
                    }
                );
                const verificationResult = await verificationResp.json();
                if (verificationResult.verified) {
                    window.location.href = next;
                } else {
                    document.getElementById('error-box').style.display = "block";
                }
            });
        </script>
    {% endif %}
{% endblock %}
